header {
    width: 100%;
    height: 200px;
}


#nav_1 {
    top: 0;
}


#nombre_pagina {
    display: flex;
    justify-content: center; 
    padding: 2% 0;   
}

#logo {
    padding: 5px;
}
nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 80px;
    background-color: rgba(247, 129, 34, 0.5);
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul { 
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}
nav li {
    margin: 0 1rem;
    padding: 5% 0;
    font-weight: bold;
}