*{
    margin:0;
    padding:0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Pacifico, cursive;
}

body{
    background: #f1faff;
    display: block; 
}

.banner__imagen{
    background: url("../imagenes/banner.gif") no-repeat center/cover; /* CAMBIE IMAGEN*/
    width: 100%;
    height: calc(100vh - 51px);
}
