.titulo_de_pagina {
    font-size: 5rem;
    text-align: center;
    text-shadow:rgb(18, 73, 184) 1px 0 10px;
    color: #000;
    font-weight: bold;

}
.lista_titulo_de_pagina a {
    text-decoration: none;
    color: #000 ;
    font-size: 0.8rem;
    
}
.receta_completa {
    width: 100%;
    max-width: 1200px;
    padding: 3% 0;
    border: 3px solid rgba(66, 126, 247, 0.344);
    border-radius: 5px;
    margin: 5% auto;
    background-color: #f4f7fa;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.ingredientes {
    width: 50%;
    height: 290px;
    min-height: 290px;
    margin: 0 4%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(18, 73, 184);
}
.nombre_receta {
    text-align: justify;  
}
.receta_completa > div{
    box-shadow: 10px 10px 10px 1px rgba(32,32,32,0.3);
    border-radius: 10px;
}
.ingredientes ul li{
    padding-right:  2px;
    display: inline;
    padding-left:  2px;
    float: left;
    padding-bottom: 2px;
    width:45%;
    padding-top: 2px
}
.imagen_receta img{
    width: 100%;
    max-width: 450px;
    height: 290px;
    background-size: cover;
    border: 4px solid rgb(18, 73, 184);
    border-radius: 10px;

}
.bandera_titulo{
    width: 10%;
    border-radius: 10px;
}
.imagen_receta{
    position: relative;
    display: inline-block;
    text-align: center;
}
.nombre{
    position: absolute;
    justify-content: flex-start;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    -webkit-text-stroke: 2px #fff;
    text-shadow:  #Fff 1px 0 10px;
    color: #000;
    font-weight: bold;

}
.preparacion {
    width: 100%;
    max-width: 1100px;
    border: 4px solid rgb(18, 73, 184);
    border-radius: 10px;
    padding: 5%;
    margin: 15px 4% 2%;
    background-color: rgb(255, 255, 255)
}

.titulo_receta {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 2.5rem;
    text-shadow:  rgb(18, 73, 184) 1px 0 10px;
    color: #000;
    font-weight: bold;
    text-align: center;
}
.titulo_preparacion {
    text-shadow:  rgb(18, 73, 184) 1px 0 10px;
    color: #000;
    font-weight: bold;
    font-size: 2.5rem;
}
.menu_titulo_de_pagina {
    width: 100%;
    max-width: 1200px;
    padding-top: 2%;
    border: 3px solid rgba(66, 126, 247, 0.344);
    text-shadow:  rgb(18, 73, 184) 1px 0 10px;
    border-radius: 5px;
    margin: 2% auto;
    background-color: #f4f7fa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1100px){

    .receta_completa {
        justify-content: center;
    }
    .ingredientes {
        width: 100%;
        height: auto;
        margin-top: 4%;
    }
    .ingredientes ul li{
        width: 100%;
    }
    
    .imagen_receta {
        order: -2;
        
    }

    .imagen_receta img{
        width: 100%;
    
    }

    .bandera_titulo{
        width: 30%;}
    
}