

.receta_completa {
    width: 100%;
    max-width: 1200px;
    border: 3px solid rgba(66, 126, 247, 0.344);
    border-radius: 5px;
    margin: 50px auto;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
}


.ingredientes {
    width: 50%;
    height: auto;
    min-height: 290px;
    border-radius: 10px;
    margin: 30px 0 30px 2%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 85, 255);

}

.nombre_receta {
    text-align: justify;
    
    
}

/*
ul{
    margin-left: 15%;
    padding: 5% 10%;
}*/

ol {
    width: 960px;
    margin: auto;   
}

.imagen_receta img{
    width: 100%;
    max-width: 700px;
    height: 300px;
    background-size: cover;
    border: 2px solid rgb(0, 85, 255);
    border-radius: 10px;
    margin: 15px 10% 15px 0;  
}

.preparacion {
    width: 100%;
    max-width: 1100px;
    border: 2px solid rgb(0, 85, 255);
    border-radius: 10px;
    padding: 5%;
    margin: 15px 0 2%;
    background-color: rgb(255, 255, 255)
}

@media only screen and (max-device-width: 800px){
    .receta_completa {
        flex-direction: column;
    }
    
    .nombre_receta{
        color: red;
        text-align: center;
        vertical-align: middle;

    }
}