*{
    margin:0;
    padding:0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}
body{
    background: #f4f7fa;
    
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 200px; */
    /* border: 3px solid green;  */
  }

.banner__imagen_wa{
    background: url("../imagenes/banner.jpg") no-repeat center/cover;
    margin-top: 180px;
    display: flex;
    align-items: center;
    height: calc(25vh);
}

.float-father-cv{
    flex-wrap: wrap;
    flex-direction: row;
 }

.float-child-cv {
    flex-wrap: wrap;
    background-color: rgba(13, 0, 255, 0.109);
    width: 30%;
    float: left;
    padding: 5% 0% 0% 0%;
    margin: 1.55%;
    border: 4px solid rgb(18, 73, 184);
    border-radius: 10px;
    box-shadow: 10px 10px 10px 1px rgba(32,32,32,0.3);
    min-height: 630px;
} 

.float-child h3{
    text-align: center;
    padding-bottom: 2%;
    font-size: 3rem;
    -webkit-text-stroke: 0.15px #fff;
    text-shadow:  rgb(18, 73, 184) 1px 0 10px;
    color: #000;
    font-weight: bold;
    text-align: center;
    
}

.float-child h4 {
    font-size: 2.5rem;
    -webkit-text-stroke: 1.5px #fff;
    color: #000;
    font-weight: bold;
    text-align: center;
    
}

.nombre_asi_somos {
    font-family: Pacifico, cursive;
}

.titulo_comentario a{
    font-size: 3rem;
    -webkit-text-stroke: 2px #fff;
    color: #000;
    font-weight: bold;
    text-align: center;
    
}

.float-child p{
    text-align: justify;
    text-justify: inter-word;
    padding: 5px;
    margin:0px;}


.float-child {
    width: 90vw;
    float: left;
    padding: 1% 2%;
    margin: 2% auto;
    border: 3px solid rgba(66, 126, 247, 0.344);
    border-radius: 5px;
    background-color: #f4f7fa;
} 

.float-child-esponsor {
    width: 98%;
    float: left;
    padding: 5% 0% 0% 0%;
    margin: 1%;
    /* border: 2px solid rgba(66, 126, 247, 0.344); */
    border-radius: 10px;
} 

.img-cv {
    width: 100%;
    object-fit: contain;
}

.w100{
    margin: 10% 1%;
    float:left;
    width: 100%;
    align-items: center;
}

.separadorv{
    height:1450px;
}

.form-contacto{
    margin:1%;
    
}

.form-contacto label{
    margin-left: 3%;
    
}

.form-control {
    margin: 0% 0% 3% 0%;
    box-shadow: 10px 10px 10px 1px rgba(32,32,32,0.3);
    border: 4px solid rgb(18, 73, 184);
}   

.f_comentario{
    resize: none;
    height: 100px;
    width: 100%;
    box-shadow: 10px 10px 10px 1px rgba(32,32,32,0.3);
    border: 4px solid rgb(18, 73, 184);
    
}

.boton-contacto{
    padding: 10px;
    font-weight: 800;
    box-shadow: 10px 10px 10px 1px rgba(32,32,32,0.3);
    background-color:#5678EF;
    color:white;
     /* rgb(151, 158, 255); */
    border-radius: 5px;
}
.boton-contacto:disabled{
    padding: 10px;
    font-weight: 800;
    background-color:#acbefe;
    color:white;
     /* rgb(151, 158, 255); */
    border-radius: 5px;
}
.inputfile {
    margin:10px;
}

.p_adjunto{
    margin: 0%;
    /* padding: 1px; */
}

.file-select {
    position: relative;
    display: inline-block;
  }
  
  .file-select::before {
    background-color: #5678EF;
    box-shadow: 10px 10px 10px 1px rgba(32,32,32,0.3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar'; /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .file-select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
  }
  
  #src-file::before {
    content: 'Seleccionar Archivos';
  }

  .separadorv{
    height: 1px;
    margin-bottom: 100px;
    }



  @media screen and (max-width:800px){

    .banner__titulo_wa{
        font-size: 3rem;
    }
    .float-child-cv{
        width:98%;
    }

   

    .float-father-cv {
        flex-direction: column;
    }
  }
